<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    </head>
    <body>
        <h2>Welcome to the Flask SQLite App</h2>
        <a href="/enternew">Add New Student</a><br/>
        <a href="/list">View Student</a>
        
       
    </body>
</html>