<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Enter Student Information</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>Enter Student Information</h2>
        <form action="/addrec" method="post">
            <p>Name <input type="text" name="name"></p>
            <p>Address <input type="text" name="addr"></p>
            <p>City <input type="text" name="city"></p> 
            <p>PIN Code <input type="text" name="pin"></p>
            <p><input type="submit" value="Add"></p>
        </form>
    </body>
</html>
